#nicer-alert-container {
    position: fixed;
    z-index: 99999;
}

.nicer-alert-bottom-right {
    bottom: 20px;
    right: 20px;
}
.nicer-alert-middle-right {
    bottom: 50%;
    right: 20px;
}
.nicer-alert-top-right {
    top: 20px;
    right: 20px;
}
.nicer-alert-bottom-left {
    bottom: 20px;
    right: 20px;
}
.nicer-alert-middle-left {
    bottom: 50%;
    right: 20px;
}
.nicer-alert-top-left {
    top: 20px;
    right: 20px;
}
.nicer-alert-top-center {
    top: 20px;
    left: 50%;
}
.nicer-alert-middle-center {
    top: 50%;
    left: 50%;
}
.nicer-alert-bottom-center {
    bottom: 20px;
    left: 50%;
}